nav {
  background-color: #eeeeee;
  height: 100px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    a {
      text-decoration: none;
      color: #222222;
      text-transform: uppercase;
    }
  }
}