nav {
  background-color: #eeeeee;
  height: 100px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  background-color: #cccccc;
  padding: 10px;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
}
