@import "reset";
@mixin toTurn($degrees) {
  transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
}

nav {
  background-color: #eeeeee;
  height: 100px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      @include toTurn(30deg);
  
      a {
        display: block;
        background-color: #cccccc;
        padding: 10px;
        text-decoration: none;
        color: #222222;
        text-transform: uppercase;
      }
    }
  }  
}

h1 {
  font-size: 100px;
}

p {
  font-size: 50px;
}

%messageFoundation {
  padding: 10px;
  font-size: 24px;
  border: 2px solid #cccccc;
  margin: auto;
  max-width: 500px;
  margin-top: 10px;
}

.info-msg {
  @extend %messageFoundation;
  border-color: #0000ff;
  color: #0000ff;
}

.warning-msg {
  @extend %messageFoundation;
  border-color: #ff0000;
  color: #ff0000;
}

.success-msg {
  @extend %messageFoundation;
  border-color: #00ff00;
  color: #00ff00;
}

%item {
  background-color: #000000;
  height: 40px;
  margin-bottom: 5px;
}

$item-width: 300px;

.item {
  @extend %item;
  width: $item-width;
}

.double-item {
  @extend %item;
  width: $item-width * 2;
}